<%= @posts.each do |post| %>

  <div class="post_wrapper">
    <h2 class="title"><%= link_to post.title, post %> </h2>
      <p>
        <div class="date">
          <%= post.created_at.strftime("%d %b %Y") %>
          at
          <%= post.created_at.strftime("%H:%M") %>
        </div>
      </p>
  </div>

<% end %>
